RewriteEngine on

RewriteCond %{HTTP_HOST} ^sowrey\.name$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sowrey\.name$
RewriteRule ^(.*)$ "http\:\/\/www\.sowrey\.org\/$1" [NC,R=301,L]


RewriteCond %{HTTP_HOST} ^sowrey\.ca$ [OR]
RewriteCond %{HTTP_HOST} ^www\.sowrey\.ca$
RewriteRule ^(.*)$ "http\:\/\/www\.sowrey\.org\/$1" [NC,R=301,L]

Options -Indexes


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
# Set PHP handler to application/x-httpd-php54s on Mon Nov 23 12:28:28 MST 2015.
AddHandler application/x-httpd-php54s .php
